.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
  font-family: $roboto;
  font-weight: 300;

  label {
    cursor: pointer;
    width: max-content;
    font-size: 11pt;
  }
}
